/*.navbar {
  background-color: #467386;
}*/

body {
  background-color: #27566B;
  color: #6E92A1;
}

a:visited {
  color: #022636;
}

a:link {
  color: #103D50;
}

.error {
  border: 2px solid red;
  border-radius: 5px;
  font-weight: bold;
}
