<!-- TO DO: Required fields -->
<% if flash.has?(:message) %>
<div class="container error">
  <%= flash[:message] %>
</div>
<% end %>
<h2> Add New Medication </h2>
<h3><i>Fields marked with * are required.</i></h3>
<form action="/medications/new" method="POST">

  <label>Medication name*:</label>
  <br />
  <input type="text" id="name" name="name">

  <br></br>

  <label>Popular name:</label>
  <br />
  <input type="text" id="nickname" name="nickname">

  <br></br>

  <label>Condition*:</label>
  <br />
  <input type="text" id="condition" name="condition">

  <br></br>

  <label>Prescribing physician's name:</label>
  <br />
  <input type="text" id="doctor" name="doctor">

  <br></br>

  <label>Date prescribed:</label>
  <br />
  <input type="date" id="prescribed" name="prescribed">

  <br></br>

  <label>Dosage*:</label>
  <br />
  <input type="text" id="dosage" name="dosage">

  <br></br>

  <label>Dosage units*:</label> <!-- change to listbox? -->
  <br />
  <input type="text" id="dosage_units" name="dosage_units">

  <br></br>

  <label>Frequency*:</label>
  <br />
  <input type="text" id="frequency" name="frequency">

  <br></br>

  <input type="submit" id="Create" value="Submit">
</form><br />
<a href="/profile">Cancel</a>
