<!DOCTYPE html>
<html>
  <head>
    <title>Mind Your Meds: Alpha Version</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
